@charset "utf-8";
/* 默认全局样式 */
body, div, address, blockquote, iframe, ul, ol, dl, dt, dd, li, dl, h1, h2, h3, h4, h5, h6, p, pre, table, caption, th, form, legend, fieldset, input, button, select, textarea {margin:0; padding:0; font-weight: normal;font-style: normal;font-size: 100%; font-family:'微软雅黑', 'Microsoft YaHei', 'YaHei', sans-serif;} 
ol, ul ,li{list-style: none;} 
img {border: 0;} 
body {color:#666; background:#FFF; font: 12px/1.5 Arial, Helvetica, sans-serif;} 
html{-webkit-text-size-adjust:none;}/*chrome font-size<12px */
/*清除浮动样式class="clearfix"*/
.clearfix:after { content:"."; display:block; height:0;	clear:both;	visibility:hidden;}
a { color:#666; text-decoration:none;}
a:hover { color:#0aa6d6; text-decoration:underline;}

/********** index2 style start **********/
#hearder2 { width:1000px; margin:0 auto;}
#hearder2 .logo { width:260px; height:90px; float:left;}
#hearder2 .logo img { width:260px; height:90px;}
#hearder2 .logo-name { width:390px; height:90px; float:left; font-size:27px; font-weight:bold; color:#0aa6d6; line-height:90px; text-align:left;}
#hearder2 .form-tools { height:90px; float:right;}
#hearder2 .form-tools .tools-link { height:40px; line-height:40px; color:#0aa6d6; text-align:right; font-size:16px; padding-left:35px; background:url(../images/enter.png) left center no-repeat;}
#hearder2 .form-tools .tools-link a { color:#0aa6d6; text-decoration:none;}
#hearder2 .form-tools .tools-link a:hover { color:#0aa6d6; text-decoration:underline;}
#hearder2 .form-tools .search-box { width:100%; height:50px; position:relative;}
#hearder2 .form-tools .search-box .input-text { width:130px; height:15px; position:absolute; top:0; right:0; padding:5px 30px 5px 5px; border:1px solid #ccc; border-radius:3px; background:#fff;}
#hearder2 .form-tools .search-box .input-submit { width:25px; height:25px; position:absolute; top:0; right:0;border:1px solid #ccc; border-top-right-radius:3px; border-bottom-right-radius:3px;}
#menu-box { width:100%; background:#0aa6d6;}
#menu-box ul { width:1000px; height:40px; margin:0 auto;}
#menu-box ul li { width:111px; height:40px; line-height:40px; float:left; text-align:center; font-size:16px;}
#menu-box ul li:hover { background:#0782a8;}
#menu-box ul li a{ color:#fff; text-decoration:none; display:block;}
/* slider */
#slider-box { width:100%; height:270px; text-align:center; margin-bottom:15px; border-bottom:1px solid #aaa;}
/* --- 通用样式 --- */
.title-box { height:35px; background:url(../images/title-bg1.png); text-align:left; font-size:15px; line-height:35px; color:#0aa6d6; position:relative;}
.title-more { position:absolute; top:3px; right:0; font-size:12px; color:#0aa6d6;}


#index1-div1 { width:1000px; margin:0 auto 15px auto;}
#index1-div1 .index1-left675 { width:675px; height:205px; float:left; overflow:hidden;}
#index1-div1 .index1-left675 p{ padding:10px; font-size:12px;text-indent: 2em; line-height:20px; color:#888;}
#index1-div1 .index1-left675 p img{ margin:0 10px 10px 0;}
#index1-div1 .index1-left675 p a{ margin-left:20px; color:#0aa6d6; font-size:12px;}

#index1-div1 .index1-right300 { width:300px; height:205px; float:right; overflow:hidden;}
#index1-div1 .index1-right300 li{ height:40px; line-height:40px; padding-left:15px; background:url(../images/li_ii.png) left center no-repeat; text-align:left; font-size:14px; border-bottom:1px dotted #ccc; position:relative;}
#index1-div1 .index1-right300 li a { width:210px; height:35px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; display:inline-block;}
#index1-div1 .index1-right300 li span { position:absolute; top:0; right:0; color:#bbb; font-size:12px;}

#index1-div2 { width:1000px; margin:0 auto 15px auto;}
#index1-div2 .index1-left675 { width:675px; float:left; overflow:hidden;}
#index1-div2 .index1-left675 .index1-li-box { width:100%; height:395px; overflow:hidden;}
#index1-div2 .index1-left675 .index1-li-box .index1-left330 { width:330px; float:left;}
#index1-div2 .index1-left675 .index1-li-box .index1-right330 { width:330px; float:right;}
#index1-div2 .index1-left675 .index1-li-box li{ height:40px; line-height:40px; padding-left:15px; background:url(../images/li_ii.png) left center no-repeat; text-align:left; font-size:14px; border-bottom:1px dotted #ccc; position:relative;}
#index1-div2 .index1-left675 .index1-li-box li a { width:210px; height:35px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; display:inline-block;}
#index1-div2 .index1-left675 .index1-li-box li span { position:absolute; top:0; right:0; color:#bbb; font-size:12px;}

#index1-div2 .index1-left675 .index1-pic-gun { margin-top:15px;}
/* index1-scrollleft */
.index1-scrollleft{width:675px; margin:10px 0;}
.index1-scrollleft li{float:left;margin-right:7px;display:inline;width:220px;text-align:center;line-height:19px}
.index1-scrollleft img{width:190px;height:140px;padding:10px;border:solid 1px #ddd;}

#index1-div2 .index1-right300 { width:300px; float:right; }
#index1-div2 .index1-right300 .index1-login-box { width:300px; height:260px; background:#fff;}
#index1-div2 .index1-right300 .index1-login-box .index1-uname { width:206px; height:20px; padding:5px; border:1px solid #ccc; background:#fff; margin:30px 41px 0 41px;}
#index1-div2 .index1-right300 .index1-login-box .index1-upass { width:206px; height:20px; padding:5px; border:1px solid #ccc; background:#fff; margin:20px 41px 0 41px;}
#index1-div2 .index1-right300 .index1-login-box .index1-t-link { width:208px; height:20px; padding:5px; margin:10px 20px 10px 41px;}
#index1-div2 .index1-right300 .index1-login-box .index1-t-link .index1-chek { margin:0 5px 0 25px;}
#index1-div2 .index1-right300 .index1-login-box .index1-t-link a { margin-left:30px;}
#index1-div2 .index1-right300 .index1-login-box .index1-input-login { width:88px; height:28px; background:#0aa6d6; border:1px solid #0aa6d6; cursor:pointer; margin-left:46px; color:#fff;}
#index1-div2 .index1-right300 .index1-login-box .index1-input-login:hover { width:88px; height:28px; background:#fff; border:1px solid #0aa6d6; cursor:pointer; color:#0aa6d6;}
#index1-div2 .index1-right300 .index1-login-box .index1-input-but { width:88px; height:28px; background:#fff; border:1px solid #0aa6d6; cursor:pointer; margin-left:25px; color:#0aa6d6;}
#index1-div2 .index1-right300 .index1-login-box .index1-input-but:hover { background:#0aa6d6; border:1px solid #0aa6d6; cursor:pointer; margin-left:25px; color:#fff;}
#index1-div2 .index1-right300 .index1-list-menu { background:#f2f2f2; padding:10px 20px 30px 20px;}
#index1-div2 .index1-right300 .index1-list-menu li { height:35px; line-height:35px; text-align:center; font-size:16px; background:#fff; border:1px solid #ccc; margin-top:25px;}
#index1-div2 .index1-right300 .index1-list-menu li a { display:block;}
#index1-div2 .index1-right300 .index1-list-menu li a:hover { display:block; background:#0aa6d6; color:#fff; text-decoration:none;}


#div5 { width:100%; background:#f4f4f4; border-top:1px solid #ccc;}
#div5 .link-box { width:1000px; height:65px; line-height:65px; margin:0 auto; font-size:14px;}
#div5 .link-box .select-link { padding:3px 15px; margin-right:50px; color:#666;}

#div6 { width:100%; height:45px; background:#0aa6d6; color:#fff; text-align:center; line-height:45px;}
#div6 a { text-decoration:underline; color:#84EFF8; margin-left:30px;}
